.car-form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f4f7fc;
    margin-top: 120px;
}

.car-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #002e6b;
}

.car-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #002e6b;
}

.car-form input,
.car-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    background-color: white;
    box-sizing: border-box;
}

.car-form button {
    padding: 10px;
    width: 30%;
    margin-left: 35%;
    background-color: #002e6b;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.car-form button:hover {
    background-color: #002452;
}

.car-form input:hover,
.car-form textarea:hover {
    border-color: #002452;
    box-shadow: 1px 1px 1px #002452;
}

.car-form input:focus,
.car-form textarea:focus {
    border-color: black;
}
